body{
    background-color: Black;
    border-style: solid;
    border-color: white;
    color: darkgreen;
    text-align:center;
}
img{
    border: 3px solid;
    border-color: white;
    height: 180px;
    width: auto;
    text-align: center;
    
}


h1{
    color:darkgreen;
    text-align: center;
}

p{
    color:darkgreen;
    text-align: center
}